.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 90vh;
}

.input{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 7px;
}

.button-style{
    background: black;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 6px;
}

.title{
    margin-bottom: 3rem;
}

.title > h1, h4{
    color: #2b8eff;
    text-align: center;
    margin: 0;
}

.checkbox-container{
    display: flex;
    align-items:baseline;
}

.li-style{
    list-style-type: none; 
    border: 1px solid grey;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

ul{
    list-style-type: none;
    padding: 0;
}